{% extends 'index.html '%}
{% load static %}
{% block content %}
<header>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">FinManager</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item mx-1">
                        <a class="nav-link" href="#">Аналитика</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="nav-link" href="#">Дневник</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="nav-link" href="#">Категории</a>
                    </li>
                </ul>
                <ul class="navbar-nav me-5">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="true">
                            <img src="{% static 'img/avatar_noname.png' %}" width="24">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Профиль</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/users/logout/">Выйти</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
{% block main %}
{% endblock %}

{% endblock %}