{% extends 'index.html' %}
{% block main %}
<div class="d-flex justify-content-center">
    <form method="post" class="p-3 m-3 border" action="">
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-3">
            <div class="form-floating">
                {% if field.errors %}
                <input
                        class="form-control is-invalid"
                        type="{{ field.field.widget.input_type }}"
                        name="{{ field.html_name }}"
                        id="{{ field.id_for_label }}"
                        placeholder=""
                        required
                >
                <label for="{{ field.id_for_label }}">{{ field.errors.0 }}</label>
                {% else %}
                <input
                        class="form-control"
                        type="{{ field.field.widget.input_type }}"
                        name="{{ field.html_name }}"
                        id="{{ field.id_for_label }}"
                        placeholder=""
                        required
                >
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% endif %}
            </div>
            <div class="form-text">{{ field.help_text }}</div>
        </div>
        {% endfor %}
        <input class="btn btn-primary" type="submit" value="Зарегистрироваться"/>
    </form>
</div>
{% endblock %}
